<div class="divPreloader">
   <div class="divPreloaderContent">
      <center>
         @ViewBag.messageError
      </center>
   </div>
</div>

<style type="text/css">
   .divPreloader {
      position: inherit;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
   }

   .divPreloaderContent {
      position: relative;
      top: 40%;
      font-size: 12px;
   }
</style>